In [6]:
#! pip install -r requirements.txt

In [7]:
from flask import Flask, request, render_template
import numpy as np
import pandas as pd
import pickle as pkl
from keras.models import model_from_json
from sklearn.metrics.pairwise import cosine_similarity
from bs4 import BeautifulSoup
import re
import json

In [8]:
app = Flask("__name__")

DATA_DIR = "./data/"

NameError: name 'Flask' is not defined

In [ ]:
# First, we'll read the dataset
dataset = pd.read_csv(DATA_DIR+'final_data.csv')
# There's one ' ' value in one of the rows. We have to remove it
dataset['Course'].replace(' ', np.nan, inplace=True)
dataset.dropna(subset=['Course'], inplace=True)
dataset = dataset.reset_index(drop=True)

In [ ]:
# Gather unique courses
unique_df = dataset[['University', 'Course', 'IELTS', 'Undergrad', 'work_ex']].drop_duplicates()
unique_df = unique_df.reset_index(drop=True)

unique_courses_df = unique_df[['Course']]
unique_profile_df = unique_df[['IELTS', 'Undergrad', 'work_ex']]